# Exclude all files in target/
target/*

# Allow dependency graph output files
!target/dependency-graph.dot
!target/dependency-graph.png

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Ignore IntelliJ IDEA configs
.idea/
*.iws
*.iml
*.ipr

# Ignore VS Code configs
.vscode/

# Ignore Mac OS files
.DS_Store

# Ignore Docker volumes
./infrastructure/docker-compose/volumes/
