# Abaikan semua isi folder target/
target/*

# Izinkan file spesifik di root folder target/
!target/dependency-graph.dot
!target/dependency-graph.png

# Abaikan file JAR di root folder target/
target/*.jar

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Ignore IntelliJ IDEA configs
.idea/
*.iws
*.iml
*.ipr

# Ignore VS Code configs
.vscode/

# Ignore Mac OS files
.DS_Store

# Ignore Docker volumes
./infrastructure/docker-compose/volumes/
